html, body, #mainpage{
    font-family:verdana;
    height:100%;
}

body > #mainpage{
    height:auto;
    min-height:100%;
    text-align:center;
}

select, option, #rnd, #plotnav input{
    cursor:pointer;
}

body{
    background: none repeat scroll 0 0 #F7F7F7;
    margin:0px;
    padding:0px;
}

#navbar {
    background: none repeat scroll 0 0 #353535 !important;
    border-bottom: 8px solid #1CA3D9;
    color: white;
    height: 45px;
    margin-bottom: 2em;
    padding: 10px;
    cursor:default;
}

#navtitle {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    width: 300px;
}

#info{
    margin-top: -25px;
    position: relative;
    text-align: right;
}

.info-icon{
    cursor:pointer;
}

#info-hover{
    display:none;
}

#jserr{
    text-align: center;
}

#errmsg{
    color:red;
    font-size:40pt;
    font-weight:bold;
}

#distplot{
    display:none;
    padding-bottom:3em;
}

#westpanel{
    display: inline-block;
    margin-right: 5px;
    max-height: 470px;
    text-align: left;
    vertical-align: top;
    width: 370px;
}

.par-title{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    background: none repeat scroll 0 0 #1CA3D9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    cursor: default;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 5px 15px;
}

.par-content{
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: none repeat scroll 0 0 white;
    border: 3px #1CA3D9;
    border-style: none solid solid solid;
    display: block;
    padding: 10px 0 15px;
}

#rnd{
    background: none repeat scroll 0 0 #EEEEEE;
    color: #353535;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 0 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    user-select:none;
    -moz-user-select:none;
}

#rnd:hover{
    background: none repeat scroll 0 0 #1CA3D9;
    color:white;
}

#rnd:active{
    background: none repeat scroll 0 0 #3EAFDC;
}

.ppar{
    margin: 5px 0 0 15px;
    vertical-align: middle;
}

#wikiurl{
    display:none;
    margin-left:10px;
    font-family:serif;
    cursor:pointer;
    color:black;
    text-decoration:none;
}

#rman{
    display:none;
    margin-left:10px;
    font-family:verdana;
    cursor:pointer;
    color:black;
    text-decoration:none;
}

#wikiurl:hover, #rman:hover{
    color:#1CA3D9;
}

#distpar{
    display:block;
}

#distpar input[type="text"]{
    border: 2px solid #C1C1C1;
    color: #353535;
    font-weight:bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 0 0 3px;
    vertical-align: top;
    height: 20px;
}

#distpar input[type="text"]:focus{
    border: 2px solid #1CA3D9;
}

.disttypebtn{
    background:#EEEEEE;
    color: #353535;
    width:40px;
    padding:3px 5px;
    cursor:pointer;
    text-align:center;
    display:inline-block;
    font-size:0.9em;
    font-style:italic;
    font-family:serif;
    font-weight:bold;
    margin-right:5px;
    border-radius:5px;
    -moz-border-radius:5px;	/*for firefox 3.6*/
    user-select:none;
    -moz-user-select:none;
}

.disttypebtn:hover{
    background:#1CA3D9;
    color:white;
    font-weight:bold;
}

.disttypebtn:active{
    background: none repeat scroll 0 0 #3EAFDC;
}

.disttypesel{
    background: #1CA3D9;
    color: white;
}

#bodypar{
    display:none;
    padding:10px 0px 0px 0px;
}

#footpar{
    display:none;
    padding:10px 0px 0px 0px;
}

#plottypes{
    margin: 5px 0 -5px 22px;
}

#plotmsg{
    color: #1CA3D9;
    font-size: 0.9em;
    font-style: italic;
    padding: 0 0 10px 15px;
}

.plot-icon{
    border: 3px solid #D7D7D7;
    padding:2px;
    cursor:pointer;
    width:2.4em;
    -moz-border-radius:7px;
    border-radius:7px;
}

.plot-icon:hover{
    border: 3px solid #1CA3D9;
}

.plot-icon-sel{
    border: 3px solid #1CA3D9;
    padding:2px;
    cursor:pointer;
    width:2.4em;
    -moz-border-radius:7px;
    border-radius:7px;
}

.plot-icon-sel:hover{
    border: 3px solid #3EAFDC;
}

#plotnav{
    margin: 20px 15px 0 0;
    text-align:right;
}

#plot-panel{
    display: inline-block;
    text-align: center;
}

#plot-panel-title{
    text-align: left;
}

#plot-content{
    display:table;
    width:500px;
    height:500px;
}

#plot-inner{
    display:table-cell;
    vertical-align:middle;
}

#plot-text{
    font-size:40px;
    color:gray;
}

#plot-nav{
    display:none;
    text-align:right;
}

#paramstitle{
    font-style:italic;
    font-weight:bold;
}

label{
    float: left;
    margin-right: 10px;
    width: 100px;
}

/* #distpar label{ */
/*     cursor: pointer; */
/* } */

#plotnav span{
    width:50px;
    font-style:normal;
    font-family:sans;
}

#rsource{
    font-family:monospace;
    vertical-align:middle;
    margin:20px 0px 20px 0px;
    padding:20px;
}

#footer {
    background: none repeat scroll 0 0 #353535 !important;
    border-top: 5px solid #1CA3D9;
    clear: both;
    color: white;
    height: 2em;
    margin-top: -3em;
    padding-top: 1em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
}
